.back-arrow {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: linear-gradient(135deg,#0c123d, rgb(84,196,148));
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transform: rotate(-90deg);
  margin-bottom: -30px;
  margin-top: 60px;

}

.back-arrow::before,
.back-arrow::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 15px;
  background-color: white;
  transition: transform 0.2s ease-out;
}

.back-arrow::before {
  transform: rotate(45deg);
  top: 5px;
  left: 9px;
}

.back-arrow::after {
  transform: rotate(-45deg);
  top: 5px;
  right: 9px;
}

.back-arrow:hover::before {
  transform: translateX(-2px) rotate(45deg);
}

.back-arrow:hover::after {
  transform: translateX(2px) rotate(-45deg);
}

.back-arrow:hover {
  background: linear-gradient(135deg, #3a3a39, #0e0d0c);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.back-arrow::before,
.back-arrow::after {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
