.blog-container {
    margin: 0 auto;
    width: 1100px;
    padding: 20px;
    background-color:   rgb(84,196,148);
    border-radius: 10px;
    margin-left: -20px;
    margin-top: 50px;
  }
  .blcontainer{
    width: 1300px;
    margin-top: 100px;
    margin-left: 150px;
}
  .blog-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .blog-form input,
  .blog-form textarea {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    resize: none;
    border: 1px solid #ccc;
    background-color: #fff;
  }
  
  .blog-form button {
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-left: 500px;
  }

  .iframe-container {
    overflow: hidden;
  }
  
  .hidden-scroll {
    overflow: hidden !important;
  }

  @media only screen and (max-width:810px){
    .blog-container {
      width: 100%;
      margin-left: 0px;
    }

    .blog-form button {
      margin-left: 300px;
    }
  }

  @media only screen and (max-width:480px){
    .blcontainer{
      width: 430px;
      margin-top: 100px;
      margin-left: 10px;
  }
    .blog-container {
      width: 100%;
      margin-left: 0px;
    }

    .blog-form button {
      margin-left: 120px;
    }
  }

  