.project__top-content{
    text-align: center;
    margin-top: 100px;
}

.project__item-wrapper, .project__item-wrapper2{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* to allow items to wrap to the next line if there is not enough space */
    gap: 2rem;
}

.projects__item{
    display: flex;
    flex-direction: column;
    align-items: center; /* centers children along the cross axis */
    justify-content: center; /* centers children along the main axis */
    background: var(--card-bg);
    width: 45%; /* to ensure 2 items per row */
    padding: 35px;
    text-align: center;
    border-radius: 0.5rem;
    cursor: pointer;
    box-sizing: border-box; /* ensure padding does not increase width */
}

.projects__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
    border: 1px solid var(--primary-color);
    background: var(--icon-bg);
    border-radius: 5px;
    height: 50px; /* your preferred fixed height */

}

.light-theme .service__icon {
    background-color: var(--primary-color);
}

.light-theme .service__icon i{
    color: #fff;
}

.projects__icon i{
    font-size: 2rem;
    color: var(--primary-color);
}

.project__title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    font-size: 0.85rem;
    margin-bottom: 10px;
    width: 100%; /* take the full width */
    text-align: center; /* center the text */
    word-wrap: break-word; /* allow long words to be able to be broken and wrap onto the next line */
    height: 60px; /* Adjust this value */
    overflow: hidden;
}

.light-theme .projects__item{
    background:  aliceblue;
}


@media only screen and (max-width:480px){
    .container{
        width: 100%;
    }
    .subtitle{
        font-size: 1rem;
    }
    .projects__item{
        width: 45%; /* allows for 2 items per row on smaller screens */
    }
    .description__about__content-desc{
        font-size: 0.57rem;
        display: flex;
        margin-bottom: -20px;
    }
    .choose_us-title {
        margin-top: 30px;
        color: #000000;
        font-weight: 500;
        font-size: 1rem;
        font-weight: bolder;
    }
    p{
        font-size: 1rem;
        
    }
    
    .about_learn_button{
        margin-top: 10px;
    }

    .about_btn{
        font-size: 0.57rem;
    }
    
    .about__img {
       height: 510px;
    }
    
   
    
    .choose__us-icon{
        margin-top: 25px;
    }
    
    .choose_us-title {
        color: #000000;
        font-weight: 500;
        font-size: 0.8rem;
        width: 300%;
    }
    
    .description__about{
        margin-top: 10px;
        color: #050101;
        font-size: 0.57rem;
        width: 250%;
    }
    .project__title {
        /* Set a fixed font-size */
        font-size: 1rem;

        /* Limit the text to three lines */
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5; /* limit to 3 lines */
        -webkit-box-orient: vertical;
        
        /* This will make the text break and wrap into a new line */
        word-wrap: break-word;
        word-break: break-word;
    }
    .project__item-wrapper{
        flex-direction: row;
        align-items: center;
    }
    
}
    
   