.project__top-content{
    text-align: center;
    margin-top: 100px;
}

.project__item-wrapper{
    margin-top: 20px;
    display: flex;
    justify-content:space-around;
    column-gap: 2rem;
}

.project__item-wrapper2{
    margin-top: 20px;
    display: flex;
    justify-content:space-around;
    column-gap: 2rem;
}

.projects__item{
    background: var(--card-bg);
    width: 22%;
    padding: 35px;
    text-align: center;
    border-radius: 0.5rem;
    cursor: pointer;
}

.projects__icon{
    padding: 15px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: var(--icon-bg);
    border-radius: 5px;
    margin-bottom: 30px;
    border: 1px solid var(--primary-color)
}

.light-theme .service__icon {
    background-color: var(--primary-color);
}

.light-theme .service__icon i{
    color: #fff;
}

.projects__icon i{
    font-size: 2rem;
    color: var(--primary-color);
}

.project__title{
    color: var(--primary-color);
    font-size: 1rem;
    margin-bottom: 10px;
}

.light-theme .projects__item{
    background:  aliceblue;
}



@media only screen and (max-width:810px){
   .project__title{
    font-size: 0.7rem;
   }

   .projects__icon i{
    font-size: 1.5rem;

    }

    .projects__icon{
        width: 40px;
        height: 40px;
        border-radius: 50px;
        margin-bottom: 10px;
    }

    .project__item-wrapper{
        margin-top: 10px;
        justify-content:space-around;
        column-gap: 2rem;
    }

    .projects__item{
        margin-top: 30px;
        padding: 15px;
        text-align: center;
        border-radius: 0.5rem;
        cursor: pointer;
    }
}